@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<MVCProyectoNFT.Application.DTOs.NftDTO>

@{
    ViewData["Title"] = "Index";
}

<br>

<br>

<h1 style="margin-right: 10px">Lista de NFT</h1>

<br />

<div>
    <a href="/Nft/Create" class="btn btn-outline-primary">
        Crear
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            
            <td>
                    <input type="image" src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.Imagen)"
                           id="ImagenProducto" style="height:75px;width:75px" class="zoom2">
            </td>
            <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-success   bi-pencil-square   " }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-secondary   bi-eye-fill   " }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger   bi-trash  " })
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model, page =>
                    Url.Action("Index", new { page }), new PagedListRenderOptions
                {
                    Display = PagedListDisplayMode.Always,
                    MaximumPageNumbersToDisplay = 5,
                    LiElementClasses = new String[] { "page-item" },
                    PageClasses = new String[] { "page-link" }
                })
